footer
  .socials
    ul
      li
        a.icon.facebook(href="")
          svg(role="image")
            use(xlink:href="/assets/icons.svg#facebook")
      li
        a.icon.twitter(href="")
          svg(role="image")
            use(xlink:href="/assets/icons.svg#twitter")
      li
        a.icon.instagram(href="")
          svg(role="image")
            use(xlink:href="/assets/icons.svg#instagram")
  .copyright
    p 2017 &copy; #{siteName}.
